footer {
  background-color: rgba(243, 223, 73, 1);
  height: 65px;
  margin-left: 0px;
}

.footer-content {
  width: 75vw;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

footer {
  margin-top: 4vh;
}

.footer-content {
  flex-direction: row-reverse;
}

.footer-content a {
  margin-left: 15px;
  text-decoration: none;
  color: #877600;
}