header {
  background-color: rgba(243, 223, 73, 1);
  height: 65px;
  margin-left: 0px;
}

.metabar {
  width: 75vw;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.metabar .right_container,
.metabar .left_container {
  display: inline;
}

.metabar .right_container {
  margin-left: auto;
}

.metabar img {
  width: 25px;
  height: 25px;
}

.metabar .logo {
  width: 32px;
  height: 32px;
}

.metabar .account {
  width: 29px;
  height: 29px;
}

.metabar .right_container a {
  margin-left: 15px;
}